.dark-gradient {
  background: linear-gradient(120deg,#2e415c,#2e415c);
  color: #fff;
}

.thumb-post {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 350px;
  background-color: rgb(30, 47, 67);
}

.card-body {
  min-height: 150px;
}

h3 {
  color: rgb(229, 255, 253);
}

p {
  color: rgb(229, 255, 253);
}

.card-title {
  color: black;
}

.contact-info.portfolio-info-card {
  color: rgb(229, 255, 255);
}

.platform-link {
  color: rgb(229, 255, 253);
}

.paper-titles {
  font-size: 28px;
}

.paper-pic {
  float: right;
  position: relative;
  display: inline-block;
  width: 100%;
}

.paper-heading {
  color: rgb(229, 255, 255);
}

.author-name {
  font-size: 18px;
}

.paper-authors {
}

.col.paper-infos {
  /*position: relative;*/
  float: right;
  display: inline-block;
}

